{% for interface, data in host['host_interface']['interfaces'].items() %}
{% if data.ip is defined and data.cidr is defined %}
net add interface {{ interface }} ip address {{ data.ip }}/{{ data.cidr }}
{% endif %}
{% if data.mtu is defined %}
net add interface {{ interface }} mtu {{ data.mtu }}
{% endif %}
{% endfor %}
